body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  header h1 {
    margin: 0;
  }
  
  nav {
    background-color: #444;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline;
    margin-right: 10px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  
  main {
    padding: 20px;
  }
  
  .product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .product-card {
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 30%;
    padding: 10px;
    text-align: center;
  }
  
  .product-card img {
    width: 30%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .product-card p {
    margin: 0;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
  }
  

/*--------------nav bar--------------*/
  
.navbar {
  display: flex;
  justify-content:space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 5px;
  text-align: center;
}

.weblogo {
  height: 12%;
  width: 50%;
}
.menu {
  margin: 0 10px;
  padding: 10px;
  text-decoration: none;
  color: #fff;
  transition: background-color 0.5s;
}

.menu:hover {
  background-color: #5e5959;
  border-radius: 10px;
  transition-duration: .5s;
}


/*--------------registration form--------------*/

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 20px;
}

.card {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 50px auto;
  width: 50%;
}

.form-group {
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"] {
  border: 1px solid #ccc;
  padding: 10px;
  width: 100%;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
}

input[type="password"] {
  border: 1px solid #ccc;
  padding: 10px;
  width: 100%;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
}

select {
  border: 1px solid #ccc;
  padding: 10px;
  width: 100%;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #4CAF50;
  border: none;
  color: white;
  margin-top: 20px;
  margin-bottom: 5px;
  padding: 10px 50px;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: background-color 0.5s;
}

input[type="submit"]:hover {
  background-color: #3e8e41;
}

input[type="button"] {
  border: none;
  color: #4CAF50;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.5s;
}

input[type="button"]:hover {
  background-color: #f5f5f5;
}


/*--------------mainpage--------------*/

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.login-container {
  max-width: 400px;
  margin: auto;
  overflow: hidden;
  padding: 15px 20px;
}

.login-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1 {
  margin: 5px;
  padding: 10px;
  text-align: center;
}

.btn-login {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 50px;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: background-color 0.5s;
}

.btn-signin{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: background-color 0.5s;
}

.btn-signin:hover,
.btn-login:hover {
  background-color: #04c9ff;
}


/*--------------login--------------*/


body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 20px;
}

.card {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 20px auto;
  width: 43%;
}

.form-group {
  margin-bottom: 10px;
}

label {
  display:inline;
  margin-bottom: 10px;
  font-weight: bold;
}

input[type="email"],
input[type="password"] {
  border: 1px solid #ccc;
  padding: 10px;
  width: 100%;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 50px;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: background-color 0.5s;
}

input[type="submit"]:hover {
  background-color: #04c9ff;
}

img{
  height: 40%;
  width: 100%;
}



/*----------contact-----------*/

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 20px;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

header h1 {
  margin: 0;
}

nav {
  background-color: #444;
  color: #fff;
  padding: 10px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  margin-right: 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

main {
  padding: 20px;
}

.form-group {
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
  border: 1px solid #ccc;
  padding: 10px;
  width: 100%;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: background-color 0.5s;
}

input[type="submit"]:hover {
  background-color: #3e8e41;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  margin-top: 20px;
  text-align: center;
}



/*------------ About ---------------*/

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 20px;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

header h1 {
  margin: 0;
}

nav {
  background-color: #444;
  color: #fff;
  padding: 10px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  margin-right: 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

main {
  padding: 20px;
}

.about-container {
  margin-bottom: 20px;
}

.team-member {
  margin-bottom: 20px;
}

.team-member img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.team-member h4 {
  margin: 0;
}

.team-member p {
  margin: 0;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  margin-top: 20px;
  text-align: center;
}